
@media print {

    @page {margin: 10%;}
    body{
        /*border : 7px red solid;*/
        width : 97%;
        margin : 2%;
    }

    /*.md-main_inner{
        border : 5px blue solid;
        /*width : 90%;
    }*/

    /*.md-content{
        /*border : 3px black solid;*/
        /*width : 90%;
    }*/

    .md-sidebar{
        display: none;
    }

    h1{
        font-size:20pt!important;
        color:black!important;
        background-color:white!important;
        border: 1px solid black;
        border-radius: 0px;
        text-align:center;
        font-weight:bold;
    }
    
    h2{
        font-size:12pt!important;
        color:black!important;
        background-color:white;
        border: 1px dashed #aaa;
        border-radius:3pt;
        text-align:center;
    }


    .solution{
        display: none!important;
    }
	
    /* Pour cacher les réponses */
    .done{
        display: none!important;
    }

    /* Pour cacher les démonstrations */
    .abstract{
        display: none!important;
    }

	.SautDePage{
		display: block;
		page-break-before: always; 
	}
}